<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pikapika.app.mapper.CharactorMapper" >
    <resultMap id="BaseResultMap" type="Charactor" >
        <id column="c_id" property="charactorId" jdbcType="INTEGER" />
        <result column="c_name" property="charactorName" jdbcType="VARCHAR" />
        <result column="c_birthday" property="birthday" jdbcType="VARCHAR" />
        <result column="c_gender" property="gender" jdbcType="VARCHAR" />
        <result column="c_displayPic" property="displayImg" jdbcType="VARCHAR" />
        <result column="c_firstPic" property="topImg" jdbcType="VARCHAR" />
        <result column="c_introduce" property="charactorDesc" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        c_id, c_name, c_birthday, c_gender, c_displayPic, c_firstPic, c_introduce
    </sql>

    <select id="getAllCharactors" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
       FROM charactors
    </select>
    
    <select id="getCharactorById" parameterType="String" resultMap="BaseResultMap"   >
       SELECT 
       <include refid="Base_Column_List" />
       FROM charactors where c_id = #{cId}
    </select>
    
    <update id="updateCharactor" parameterType="Charactor">
		update charactors
		 set 
			c_name = #{charactorName},
			c_birthday = #{birthday},
			c_gender = #{gender},
			<if test="displayImg != null and displayImg != ''">
			c_displayPic = #{displayImg},
			</if>
			<if test="topImg != null and topImg != ''">
			c_firstPic = #{topImg},
			</if>
			c_introduce = #{charactorDesc} 
		where c_id=#{charactorId}
	</update>

</mapper>