<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/pikapika_index_template">
<head>
<meta charset="utf-8" />
<link th:href="@{/css/no-main.css}" rel="stylesheet" />
</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="container">
			<fieldset>
				<legend>发表帖子</legend>
			</fieldset>
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">帖子发表成功！</h3>
				</div>
				<div class="panel-body">
					<span id="showMsg"></span> <a th:href="@{/pikapika/bbs}">点击返回杂谈主页</a>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="script" th:remove="tag">
		<script>
			$(function() {
				var secs = 5; //倒计时的秒数 
				Load(secs);
			});
			function Load(secs) {
				for (var i = secs; i >= 0; i--) {
					window.setTimeout('doUpdate(' + i + ')', (secs - i) * 1000);
				}
			}
			function doUpdate(num) {
				if (num == 0) {
					window.location = 'http://localhost:8080/pikapika/bbs';
				} else {
					document.getElementById('showMsg').innerHTML = "发表成功，将在"
							+ num + "秒后自动跳转到杂谈主页";
				}
			}
		</script>
	</div>
</body>
</html>
