<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	    <meta name="description" content="TOMODOCHI's index" />
	    <meta name="author" content="xjzhu" />
	    <link rel="icon" href="../../../../favicon.ico" />
		<title>Pikapika</title>
		
		<!-- Bootstrap core CSS -->
    	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    	<link th:href="@{/css/jumbotron.css}" rel="stylesheet" />
		<style>
			.jumbotron{
				//background:url(img/4.jpg);
				background-repeat: no-repeat;
				background-position: center;
				height: 300px;
			}
		</style>
	</head>
	<body>
	<header th:replace="common/top_header :: header"></header>
	<div class="container">
		<div class="row">
		</div>
	</div>
  	<footer class="container">
      <p>&copy; Company 2017</p>
    </footer>
		<script th:src="@{/js/jquery-3.2.1.min.js}" ></script>
		<script th:src="@{/js/bootstrap.js}"></script>
		<script th:src="@{/js/carousel.js}"></script>
	</body>
</html>
